<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <title>Lista de Tarefas</title>
</head>

<body>

    <style>
        body{
            justify-content: center;
            align-items: center;
            text-align: center;
            
        }
        ul {
            list-style-type: none;
        }
    </style>
    <h1>Minhas Tarefas</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Adicionar</button>
    </form>
    <ul>
        {% for tarefa in tarefas %}
        <li>
            <form method="post" action="{% url 'atualizar_tarefa' tarefa.id %}">
                {% csrf_token %}
                <input type="checkbox" name="concluida" onchange="this.form.submit()" >
                {% if tarefa.concluida %}
                    <s> {{tarefa.titulo }}</s>
                {% else %}
                    {{ tarefa.titulo }}
                {% endif %}
                <a href="{% url 'deletar_tarefa' tarefa.id %}">[Excluir]</a>
            </form>
        </li>
        {% empty %}
        <li>Nenhuma tarefa adicionada ainda.</li>
        {% endfor %}
    </ul>
</body>

</html>